/* @import "./styles/accessibility.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #1b1b1b;
  font-family: "Noto Sans KR", sans-serif;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

/* Chrome, Edge, Safari clear 버튼 제거 */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 0;
  width: 0;
}
